---
alt_lang: '/ja/'
lang: en
---

%header
  .container
    %h1#brand #{@site.config[:title]}
    %h2#subtitle #{@site.config[:description][@item[:lang]]}
    %p#appstore
      %a{:href => 'http://s.liap.us/everdesktop'}
        Available on the Mac App Store

#product-description
  .container
    %section
      %h3 Keep your Mac tidy.
      %p EverDesktop allows you to make tidy your Mac from status bar icon.
    %section
      %h3 Clip to Evernote.
      %p Clipped files will be attached and embed in notes.
    %section
      %h3 Just moves files.
      %p
        After clipping files, EverDesktop moves them to new individual folders based on date and time.

.container
  #how-it-works
    %h2 How it works
    %iframe{ :width => "480", :height => "360", :src => "http://www.youtube.com/embed/grzLJosbAZ8", :frameborder => "0", :allowfullscreen => "allowfullscreen" }
  
  #bitbucket
    %h2 Found bugs? Feature requests?
    %p
      Feel free to report problems or request features.
    %p
      %a{:href => 'https://bitbucket.org/littleapps/everdesktop/issues'}
        %i.icon-bug
        Create an issue at our BitBucket project.
