@import compass

body
  background: #eee
  font-family: 'ABeeZee', sans-serif
  margin: 0

a
  color: #fd7e08
  text-decoration: none
  +transition-property(color)
  +transition-duration(0.1s)
  &:hover
    color: #fdaf08

#main
  background: #fff
  +clearfix

.container
  width: 850px
  padding: 0 50px
  margin: 0 auto
  position: relative
  +clearfix

.appicon
  display: inline-block
  +border-radius(15%)
  +box-shadow(rgba(black, 0.5) 0 1px 10px)

header
  .container
    height: 306px
    position: relative
    .appicon
      float: left
      position: absolute
      top: 55px
      left: 35px

    h1
      padding: 80px 0 0 196px
      margin: 0
      +single-text-shadow(0, 0, 5px, false, #aaa)
    h2
      padding: 10px 0 0 196px
      margin: 0
      color: #888
      font-size: 1.2em
      font-weight: normal
      +single-text-shadow(0, 0, 5px, false, #ccc)

    #appstore
      padding: 25px 0 0 196px
      margin: 0
      a
        +transition-property(opacity)
        +transition-duration(0.5s)
        +opacity(0.8)
        background: url(//igist.s3.amazonaws.com/images/appstore.png) no-repeat 0 0
        @media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5)
          background-image: url(//igist.s3.amazonaws.com/images/appstore@2x.png)
        background-size: 150px 45px
        display: block
        width: 150px
        height: 45px
        font-size: 1px
        text-indent: -9999px
        &:hover
          +opacity(1.0)

#how-it-works, #bitbucket
  padding-bottom: 5em
  float: left
  width: 48%
  li
    padding-bottom: 0.5em

.icon-bug
  display: inline-block
  width: 11px
  height: 12px
  background: url(//igist.s3.amazonaws.com/images/icon-bug.png) repeat 0 0
  background-size: 11px 23px
  a:hover &
    background-position: 0 -100%
  @media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5)
    background-image: url(//igist.s3.amazonaws.com/images/icon-bug@2x.png)

#screen
  .container
    position: relative
    height: 726px
    background: url(//igist.s3.amazonaws.com/images/ipad.png) no-repeat 30px 0
    background-size: 850px 666px
    @media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5)
      background-image: url(//igist.s3.amazonaws.com/images/ipad@2x.png)
    .screen-wrap
      margin: 0
      width: 692px
      height: 519px
      background: url(//igist.s3.amazonaws.com/images/poster.png) no-repeat 0 0
      background-size: 692px 519px
      @media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5)
        background-image: url(//igist.s3.amazonaws.com/images/poster@2x.png)
      position: relative
      top: 68px
      left: 60px

footer
  padding: 3em 0
  color: #999
  font-size: 12px
  a
    color: #888
    text-decoration: underline
    &:hover
      color: #333
  address
    font-style: normal

  #locales
    float: right
    list-style: none
    margin: 0
    padding: 0
    li
      float: left
      padding-left: 0.5em
      em
        font-style: normal
      &.ja
        margin-top: -0.1em
  .mixpanel
    float: right
  .brand
    margin: 0
    padding-bottom: 10px
    a
      display: inline-block
      font-size: 1px
      text-indent: -9999px
      width: 283px
      height: 22px
      +transition-property(opacity)
      +transition-duration(0.5s)
      +opacity(0.3)
      background: url(//igist.s3.amazonaws.com/images/littleapps.png) no-repeat 0 0
      &:hover
        +opacity(0.8)

      @media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5)
        background-image: url(//igist.s3.amazonaws.com/images/littleapps@2x.png)
      background-size: 283px 22px


#social
  padding-bottom: 40px
